---
import Layout from "../../layouts/Layout.astro";
import TableHeader from "@/components/table/TableHeader.astro";
import { createTable } from "@tanstack/table-core";
import type { Suministros } from "@/lib/data";

const data: Suministros[] = [];
const columns = [
  "id",
  "recibo",
  "cliente",
  "items",
  "creado",
  "pedido_para",
  "rango_horario",
  "realizado",
  "status",
  "total",
];
const table = createTable({ columns, data });
---

<Layout title="Suministros">
  <!-- Table Section -->
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="py-3 px-4">
          <div class="relative max-w-xs">
            <label for="hs-table-search" class="sr-only">Search</label>
            <input
              type="text"
              name="hs-table-search"
              id="hs-table-search"
              class="py-2 px-3 ps-9 block w-full shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-slate-900 border-gray-700 text-gray-400 focus:ring-gray-600"
              placeholder="Buscar recibo"
            />
            <div
              class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3"
            >
              <svg
                class="size-4 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"
                ></path></svg
              >
            </div>
          </div>
        </div>
        <div class="border rounded-lg overflow-hidden border-gray-700">
          <table class="min-w-full divide-y divide-gray-700">
            <TableHeader />
            <tbody class="divide-y divide-gray-700">
              <tr>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-200"
                  >John Brown</td
                >
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200"
                  >45</td
                >
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200"
                  >New York No. 1 Lake Park</td
                >
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-200"
                >
                  <button
                    type="button"
                    class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent disabled:opacity-50 disabled:pointer-events-none text-blue-500 hover:text-blue-400 focus:outline-none focus:ring-1 focus:ring-gray-600"
                    >Delete</button
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Table Section -->
</Layout>
